<h1>Your Cart</h1>
	
	<br>

	<% if @cart.empty? %>
	<p> Your cart is empty <p>
	<% else %>
		<%= link_to 'Empty Your Cart', cart_clear_path %> 
		<% end %>
		<br><br><br>
	
<div id="cart product">
	<div class="large-8 columns">

	<% total = 0 %>
	
	
		<% @cart.each do | id, quantity | %>
			<% product = Product.find_by_id(id) %>
			
			<% if product.present? %>
				
				<%= link_to product.title, product %>
				<p><%= product.description %></p>
				<p><%= image_tag(product.image_url) %></p>
			
				<p><%= number_to_currency(product.price, :unit => '$') %></p>
				<p>Quantity: <%= quantity %></p>
				
				<p><% total += quantity * product.price %></p>	
					
			<% end %>
			
		<% end %>
	
		<p><b><%= number_to_currency(Grand total, :unit => '$')%></b></p>

		</div>
	</div>
		
	
		
			
		
		
	