<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<div id="topnav">
  <div class="row">
  
    <div id="hours" >
      <div class="large-3 columns">
      <h3>Pharmacy Hours</h3><br>
      <p>Mon - Sat  9.00 AM - 7.00 PM</p>
      <p>Sun and Holidays 10 - 5 PM</p>
      </div>
    </div>
    <div id="katz" align="center" >
      <div class="large-6 columns" >
    <br><br>
      <h1><b>KATZ DRUGS</b></h1>
      </div>
    </div>
    <div id="pay" align="right" >
      <div class="large-3 columns">
      <%= image_tag ('paypal.gif') %>
      </div>
    </div>
  </div>
</div>
  <div id="nav">
    <div id="page_nav">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Shop', products_path %>
      <%= link_to 'About', page_about_path %>
      <%= link_to 'FAQ', page_faqs_path %>
      <%= link_to 'Contact', page_contact_path %>
    </div>

    <div id="sign_in">
      <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>

      <% end %>
      <%= link_to 'cart', cart_path %>
      
    </div>
  </div>
  <div id="main_wrap">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
  </div>
    
  </body>
</html>




